parameters:
  level: 5
  paths:
    - src
  ignoreErrors:
    - '#Call to an undefined static method think\\facade\\Db::query\(\)#'
    - '#Method aspirantzhang\\octopusRevision\\command\\[a-zA-Z0-9\\_]+::execute\(\) should return int\|null but return statement is missing.#'
